<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add book</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
</head>
<body>
  <nav class="navbar navbar-expand navbar-light bg-light ">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <h3>
          <ul class="navbar-nav ">
            <li class="nav-item mx-3"><a class="nav-link" th:href="@{/book}">Book</a></li>
            <li class="nav-item mx-3"><a class="nav-link" th:href="@{/bookShop}">Book shop</a></li>
            <li class="nav-item mx-3"><a class="nav-link" th:href="@{/publishingHouse}">Publishing house</a></li>
          </ul>
        </h3>
      </div>
    </div>
  </nav>
  <div class="container">
    <form action="#" th:action="@{/savePublishingHouse}" th:object="${publishingHouse}" method="POST">
      <div class="form-group my-3">
        <label for="name">Name of publishing house</label>
        <input type="text" class="form-control w-25" id="name" placeholder="Enter name of publishing house" th:field="*{name}">
      </div>
      <div class="form-group my-3">
        <label for="address">Address of publishing house</label>
        <input type="text" class="form-control w-25" id="address" placeholder="Enter address of book shop" th:field="*{address}">
      </div>
      <div class="form-group my-3">
        <label for="phone">Phone</label>
        <input type="text" class="form-control w-25" id="phone" placeholder="Enter phone" th:field="*{phone}">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>
</html>